/*This is the style sheet. It determines the colors and shapes of the elements on your webpage. There isn't much on here because most of the styling comes from NES.css and it's pre-made. Yay!
This follows the same rules as Bootstrap. When I get stuck, I look up how to do things in Bootstrap.
*/

body {
  npm install nes.css
  yarn add nes.css
   width: 100%;
   min-height: 100vh;
/* This places the content in the center column of the page. The content will adjust as you resize the window.
*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nes-btn {
  /* All I'm doing here is adding a bit of space between the "Try Again" button and any element above it.
  */
   margin-top: 2rem;
}

/* You can comment out this navbar if you want. I couldn't find a nice clean NES.css navbar, so I cobbled this together.
*/
.navbar {
  background-color: 000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.pro {
   width: 80%;

   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   margin-top: 2rem;
}

.content {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
